.cart {
  color: $cart-c;
  background: $cart-bg;
  box-shadow: $cart-shadow;
  padding: $cart-padding;
  border-radius: $cart-radius;
  position: relative;

  .cart__inner {
    padding: $cart-inner-padding;
    border: 2px dotted $cart-border;
    border-radius: $cart-radius;
    box-sizing: border-box;
  }

  h4 {
    padding-bottom: $cart-inner-padding;
  }

  .cart__group {
    border-bottom: 1px dashed $cart-group-border;
    margin-bottom: 11px;

    &.cart__group--products {
      padding-bottom: 13px;
    }

    &.cart__group--calculate {
      padding-bottom: 3px;
    }
  }

  .cart__total {
    padding-bottom: 6px;
  }

  .item {
    display: flex;
    font-size: $cart-fs;
    line-height: 1.5;

    &.item--product {
      padding-bottom: 9px;
    }

    &.item--calculate {
      padding-bottom: 10px;
    }

    .item__name {
      width: calc(100% * 2/3);
    }

    .item__price {
      text-align: right;
      width: calc(100% / 3);

      &.item__price--total {
        font-size: $cart-summary-fs;

        &:before {
          padding-right: 6px;
        }
      }

      &:before {
        content: attr(data-currency);
        padding-right: 3px;
      }

    }

  }

}
