// CART SETTINGS

$cart-padding:          4px;
$cart-inner-padding:    12px;
$cart-radius:           $box-radius;
$cart-shadow:           $box-shadow;
$cart-fs:               12px;
$cart-summary-fs:       22px;
