// CHECKOUT SETTINGS

$checkout-container:               886px;
$main-component-maxwidth:          599px;
$components-maxwidth:              287px;

$breakpoint-xlarge:                920px;
$breakpoint-xlarge-down:           $breakpoint-xlarge - 1px;

$padding-rl: 6px;

$box-radius: 4px;
$box-shadow: 0 2px 0 0 $box-shadow-c;
