// Palette

// 1. Descriptive naming
// ---------------------
$black:             #000;
$white:             #fff;
$concrete:          #f2f2f2;
$gallery:           #ebebeb;
$alto:              #dcdcdc;
$silver:            #c3c3c3;
$silver-chalice:    #9d9d9d;
$dusty-gray:        #9b9b9b;
$abbey:             #515356;
$tundora:           #484848;
$mine-shaft:        #333;
$bright-green:      #6bd400;
$limeade:           #5cb204;

// 2. Functional naming
// --------------------
$checkout-bg:       $concrete;
$box-shadow-c:      $silver-chalice;
$box-bg:            $white;
