@import 'imports';

.checkout {
  background-color: $checkout-bg;

  .checkout__wrapper {
    max-width: $checkout-container;
  }

  .checkout__content {
    @media screen and (min-width: $breakpoint-xlarge) {
      flex-wrap: nowrap; // workaround for Safari > 10 bug with min/max width calculation in multirow flex container
    }
  }

  .main-component,
  .additional-components {
    width: 100%;
  }

  .main-component {
    order: 2;

    @media screen and (min-width: $breakpoint-xlarge) {
      order: 1;
      max-width: $main-component-maxwidth;
    }
  }

  .additional-components {
    order: 1;
    padding: 0 $padding-rl;

    @media screen and (min-width: $breakpoint-xlarge) {
      max-width: $components-maxwidth;
      order: 2;
      padding-top: 40px;
    }

  }

}
