@import 'settings';

.checkout {
  background-color: $checkout-bg;

  .checkout__wrapper {
    max-width: $checkout-container;
  }

  .main-component,
  .additional-components {
    width: 100%;
  }

  .main-component {
    order: 2;

    @media screen and (min-width: $breakpoint-xlarge) {
      order: 1;
      max-width: $main-component-maxwidth;
    }
  }

  .additional-components {
    order: 1;
    padding: 0 $padding-rl;

    @media screen and (min-width: $breakpoint-xlarge) {
      max-width: $components-maxwidth;
      order: 2;
      padding-top: 40px;
    }

  }

  .mdl-grid.mdl-grid--no-spacing.details {
    box-sizing: border-box;

    @media screen and (min-width: $breakpoint-xlarge) {
      padding-left: 24px;
      padding-top: 20px;
    }
  }

}
