// USER PALETTE

// COUNTER PALETTE
$counter-bg:                $black;
$counter-c:                 $white;

// HEADING
$icon-lock-c:               $tundora;

// SELECT
$select-icon-c:             $mine-shaft;
$select-c:                  $mine-shaft;
$select-label-c:            $dusty-gray;

// CHECKOUT BUTTON
$checkout-button-c:         $white;
$checkout-button-bg:        $bright-green;
$checkout-button-shadow:    $limeade;
