// CUSTOM INPUT DEFAULT PALETTE

// INPUT
$input-bg:         $white;
$input-c:          $mine-shaft;

// LABEL
$label-c:          $abbey;

// PLACEHOLDER
$placeholder-c:    $dusty-gray;

// TOOLTIP
$tooltip-c:        $silver;
