.ca-input-wrapper {
  background: $input-bg;
  border-radius: $input-radius;
  box-shadow: $input-shadow;
  position: relative;

  @media screen and (max-width: $breakpoint-xlarge-down) {
    margin-bottom: 20px;

    &.ca-input-wrapper--phone {
      margin-bottom: 0;
    }
  }

  .ca-label {
    display: block;
    cursor: text;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3px;
    margin-left: $offset-left;
    font-weight: 700;
    color: $label-c;
    font-size: $label-fs;
  }

  .ca-input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: $input-radius;
    padding: 25px $offset-left 7px;
    font-size: $input-fs;
    font-weight: 600;
    color: $input-c;

    &.ca-input--card {
      background: url('../../images/sprite.png') no-repeat;
      background-position: right 13px center;
    }

    &::placeholder {
      color: $placeholder-c;
    }

  }

  .ca-tooltip {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -11px;
    margin-right: 12px;
    color: $tooltip-c;
    cursor: pointer;

    .icon {
      font-size: 22px;
    }
  }

}
